section.repl-modal {
  background: rgba(255,255,255, 0.8);
  display: flex;
  height: 100%;
  left: 0;
  padding: 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 300;
}
div.modal-container {
  display: flex;
  height: 100%;
  margin: auto;
  width: 100%;
}
div.modal-container > .repl {
  height: 100%;
  width: 100%;
}

div.modal-container > .repl form {
  height: 100%;
}