#rotator {
  order: 2;
}
.rotator {
  display: flex;
  flex-direction: column;
}

.rotator.card {
  order: 0;
}

.rotator nav {
  order: 1;
  padding: .2em;
}

.rotator nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  padding: 0;
}

.rotator nav li {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  width: 8px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background: #efefef;
}

.rotator nav li:hover {
  background: #444;
}

.rotator .card {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
}

.thing {
  border: 1px solid black;
  background: #bc36ad;
  height: 300px;
  width: 500px;
}
.rotator.deck {
  width: 100%;
  height: 100%;
}
.rotator .card > button {
  background: #CC3625;
  color: white;
  box-shadow: -8px 6px 13px -7px rgba(0,0,0,0.5);
  font-size: 1.2em;
  outline: none;
  border: none;
  border-radius: 3px;

  transition: all .1s ease;
}
.rotator .card > button:focus:active {
  transform: scale(.95);
}