

.sweet-loading {
    position:relative;
    top:200px;
    width:100%;
    height:300px;
  
}
.sweet-loading > div {
    margin: 0 auto;
}

.Home {
    display: flex;
    margin:0 auto;
    background: #415A77;
    width: 100vw;
    height: 80vh;
}

.welcomeBack {
    text-align:center;
    font-family: 'Roboto', sans-serif;
}

.userImage{
    display: block;
   
    margin: 0 auto;
    max-width: 50%;
    border: solid 3px rgb(255, 255, 255);
    border-radius: 4%;
    box-shadow: -8px 6px 13px -7px rgba(0, 0, 0, 0.5);
    margin-bottom: 0.6em;
}

.Home > .welcome-container > h1, .Home > .welcome-container > h2 {
    text-align: center;
    color: white;
    font-family: sans-serif;
} 

.Home > .welcome-container > h1 {
    position: relative;
    margin-bottom: 0.6em;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 0.05em;
}

.Home > .welcome-container > h1:before {
    content: '';
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60%;
    height: 110%;
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

.Home > .welcome-container > h2 {
    font-weight: 400;
    margin-bottom: 0.6em;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.2em;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}