@import url('https://fonts.googleapis.com/css?family=Roboto');

.sidebar {
    background: #202020;
    color: #fcfcfc;
    font-family: 'Roboto', sans-serif;
    height: 110%;
    left: -400px;
    opacity: 1;
    padding: 5em 1em 1em 1em;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 99;

    transition: all .3s ease;
}

/* .sidebar:hover {
    left: 0;
    transition: all .3s ease;
    opacity:1;
} */

.sidebar > h2 {
    color: #6CAEDD;
}
.sidebar > ul {
    list-style-type: none;
    padding: 0;
    padding-left: 1em;
}
.sidebar:focus {
    left: 0;
    transition: all .3s ease;
}